.sidenav {
    background-color: #101414;
}



.sidenav a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
}

.sidenav i {
    display: inline-flex;
    align-items: center;
    padding-right: 5px;
}

/* Incluido por minha conta para alinha o material icons da sidenav com o texto  */
.material-icons {
    vertical-align: middle;
  }